[Unit]
Description=Python Proxy DragonTunneling
Documentation=https://t.me/northafrica9
After=network.target
[Service]
Type=oneshot
User=root
WorkingDirectory=/root
# This service is kept only for compatibility.
# It does nothing but always succeeds, so it will not fail in systemd.
ExecStart=/bin/true
RemainAfterExit=yes
[Install]
WantedBy=multi-user.target