global
    daemon
    user haproxy
    group haproxy
    stats socket /run/haproxy/admin.sock mode 660 level admin expose-fd listeners
    stats timeout 1d
    tune.h2.initial-window-size 2147483647
    tune.ssl.default-dh-param 2048
    pidfile /run/haproxy.pid

defaults
    mode tcp
    log global
    option dontlognull
    timeout connect 5s
    timeout client 300s
    timeout server 300s

# ======================================================
# WEBSOCKET SSH ON PORT 80 DIRECT TO 10015
# ======================================================
frontend ssh_ws_80
    mode tcp
    bind *:80
    default_backend ws_backend

# ======================================================
# BACKEND DIRECT TO WEBSOCKET SERVICE
# ======================================================
backend ws_backend
    mode tcp
    server sshws 127.0.0.1:10015 check

# ======================================================
# MULTIPORT FRONTEND
# ======================================================
frontend multiport
    mode tcp
    bind *:222-1000 tfo
    bind *:443 tfo
    bind *:2053 tfo
    bind *:2083 tfo
    bind *:2096 tfo
    bind *:2087 tfo
    bind *:8443 tfo
    tcp-request inspect-delay 500ms
    tcp-request content accept if HTTP
    use_backend recir_http if HTTP
    default_backend recir_https

# ======================================================
# SSL FRONTEND
# ======================================================
frontend ssl
    mode tcp
    bind *:55 tfo
    bind *:8080 tfo
    bind *:8880 tfo
    bind *:2052 tfo
    bind *:2086 tfo
    bind *:2095 tfo
    bind *:2097 tfo
    bind *:2098 tfo
    bind *:2082 tfo
    bind *:2092 tfo
    bind *:2022 tfo
    bind abns@http-sock accept-proxy ssl crt /etc/haproxy/hap.pem alpn h2,http/1.1 tfo
    tcp-request inspect-delay 500ms
    tcp-request content capture req.ssl_sni len 100
    tcp-request content accept if { req.ssl_hello_type 1 }
    use_backend CHANNEL_FTVPN

# ======================================================
# RECIRCULATION
# ======================================================
frontend http_recir
    mode tcp
    bind abns@haproxy-http
    default_backend FTVPN

frontend https_recir
    mode tcp
    bind abns@https-sock
    default_backend FTVPN

# ======================================================
# OTHER BACKENDS (unchanged)
# ======================================================
backend recir_http
    mode tcp
    server loop-http abns@haproxy-http send-proxy-v2 check

backend recir_https
    mode tcp
    server loop-https abns@https-sock send-proxy-v2 check

backend FTVPN
    mode tcp
    server srv-ftvpn 127.0.0.1:1010 check

backend GRUP_FTVPN
    mode tcp
    server srv-grup 127.0.0.1:1013 check

backend CHANNEL_FTVPN
    mode tcp
    balance roundrobin
    server srv1 127.0.0.1:1194 check
    server srv2 127.0.0.1:1012 check

backend BOT_FTVPN
    mode tcp
    server srv-bot 127.0.0.1:2222 check